@using SongsAbout.Web.Models;
@{
    ViewBag.Title = "Home Page";
    var options = new AjaxOptions { HttpMethod = "GET" };
}

<div class="jumbotron">
    <h1>SongsAbout</h1>
    <p class="lead">About dang time we can look up songs like this, people.</p>
    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {
        Html.TextBoxFor(q => q);
        //@Html.ActionLink("Index", "Search", new { q = Html } )
        @Html.Button("Search", new { @class = "btn btn-primary btn-lg", type = "submit" })
    }
    @*<p><input id="search" type="text" onsubmit="@Url.Action("Index","Search",new RouteValueDictionary { new })" data-autocomplete-source="@Url.Action("AutoComplete", controllerName: "Search")" /></p>*@
    <p><button class="btn btn-primary btn-lg">Search &raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="Artists">Artists &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="Albums">Albums &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="Tracks">Tracks &raquo;</a></p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/app")
}
