@using SongsAbout.Web.Models;

@{
    ViewBag.Title = "Home Page";
    var options = new AjaxOptions { HttpMethod = "GET", LoadingElementId = "load-gif" };
}

<div class="jumbotron">
    <h1>SongsAbout</h1>
    <p class="lead">About dang time we can look up songs like this, people.</p>
    @{
        var query = new SearchQuery { query = "", type = SaEntityType.Any, limit = 5 };
        var searchTxtBoxAttributes = new RouteValueDictionary();
        searchTxtBoxAttributes.Add("data-autocomplete-source", Url.Action("AutoComplete", controllerName: "Search"));
    }

    @using (Html.BeginForm("Index", "Search", routeValues: new { @q = query.query, @limit = query.limit, @type = query.type }, method: FormMethod.Get))
    {
        <h2>Search</h2>
        <input type="text" name="q" id="q" data-autocomplete-source="@Url.Action(" AutoComplete", controllerName: "Search")" />
        @(Html.DropDownListFor(a => query.limit,
        new List<SelectListItem> {
                                new SelectListItem { Value = "5", Text = "5",Selected = true },
                                new SelectListItem { Value = "10", Text = "10" },
                                new SelectListItem { Value = "15", Text = "15" }
                        }
                    )
        )
        @Html.EnumDropDownListFor(a => query.type)
        <br />
        <input type="submit" value="Search &raquo;" class="btn btn-primary btn-lg" />
    }

</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="Artists">Artists &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="Albums">Albums &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="Tracks">Tracks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="hidden" id="load-gif" src="~/Content/Images/load.gif" />
        @{
            
        }
        @Ajax.ActionLink("Seed Database", "SeedDatabase", routeValues: null, ajaxOptions: new AjaxOptions { LoadingElementId = "load-gif" }, htmlAttributes: new { @class = "btn btn-large" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/app")
}
