@model SongsAbout.Web.Models.Artist

@{
    ViewBag.Title = "SongsAbout: " + Model.Name;
}



<h1> @Html.DisplayFor(model => model.Name)</h1>
<a href="@Model.SpotifyWebPage"> <img class="artist-details-image" width="@Model.ProfilePic.Width" height="@Model.ProfilePic.Height" src="@Model.ProfilePic.SourceFile" alt="img-@Model.Name" /></a>
<div>
    <hr />
    <p>@Html.DisplayFor(model => model.Bio)</p>
</div>
<p>
    @if (User.IsInRole("canEdit"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistId })<text>|</text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
