@model SongsAbout.Web.Models.Artist

@{
    ViewBag.Title = $"{Model.Name} Details";
}

<h2>@Model.Name</h2>

<div>
    <h4>Artist</h4>
    <hr />
    @if (Model.ProfilePic != null)
    {
        <img src="@Model.ProfilePic.Url" width="@Model.ProfilePic.Width" height="@Model.ProfilePic.Height" class="artist-details-image" alt="@Model.ProfilePic.AltText" />
    }
    else
    {
        <img src="" width="640" height="640" class="artist-details-image" alt="img-@Model.Name" />
    }
    <p>@Model.Bio</p>
    <table id="artist-albums">
        <caption>Albums</caption>
        @foreach (var album in Model.Albums)
        {
            <tr>
                <td class="artist-album-image"><img src="@album.AlbumCover.Url" alt="@album.AlbumCover.AltText" width="64" height="64" /></td>
                <td>@album.Name</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
