@using SongsAbout.Web.Models;
@model IQueryable<Artist>

@{
    ViewBag.Title = "Artists";
}

<h2>Artists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{var Artists = Model.ToList();}
@for (int i = 0; i < ViewBag.Count && i < Model.Count(); i++)
{
    Artist item = Artists[i];
    <div class="col-md-6">
        <a href="/Artists/Details/@item.ArtistId"><img src="@(item.ProfilePic?.Url)" width="200" , height="200" alt="@(item.ProfilePic?.AltText?? "img-"+item.Name)" /></a>
        <br />
        <span class="artist-name" id="tile-@item.Name">@item.Name</span>
    </div>
}
<div>
    Viewing @ViewBag.Count out of @ViewBag.TotalCount

</div>

@* TODO: limit page sizes *@

