@model IEnumerable<SongsAbout.Web.Models.Artist>

@{
    ViewBag.Title = "Artists";
}

<h2>Artists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpotifyId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.ProfilePic != null)
                {
                    <img src="@item.ProfilePic.Url" width="64" , height="64" alt="@item.ProfilePic.AltText" />
                }
                else
                {
                    <img src="" width="64" , height="64" alt="img-@item.Name" />
                }

            </td>

            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.ArtistId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpotifyId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArtistId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArtistId })
            </td>
        </tr>
    }

</table>
