@model SongsAbout.Web.Models.Album

@{
    ViewBag.Title = Model.Name + "Details";
}

<h2>@Model.Name</h2>
<div>
    <hr />
    @if (Model.AlbumCover != null)
    {
        <img src="@Model.AlbumCover.Url" width="@Model.AlbumCover.Width" height="@Model.AlbumCover.Height" class="artist-details-image" alt="@Model.AlbumCover.AltText" />
    }
    else
    {
        <img src="" width="640" height="640" class="artist-details-image" alt="img-@Model.Name" />
    }
    <p>Released @Model.ReleaseDate.ToShortDateString()</p>
    <table id="artist-albums">
        <caption>Tracks</caption>
        <tr>
            <th>Track Name</th>
            <th>Track Length</th>
            <th>@Html.DisplayNameFor(a => a.Artist.Name)</th>
            <th>Can Play </th>
        </tr>
        @foreach (var track in Model.Tracks)
            {
            <tr>
                <td>@track.Name</td>
                <td>@track.LengthMinutes</td>
                <td>@track.Artist.Name</td>
                <td>@Html.CheckBoxFor(a => track.CanPlay) </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
