@model SongsAbout.Web.Models.Album

@{
    ViewBag.Title = Model.Name + "Details";
}

<h2>@Model.Name</h2>
<div>
    <hr />
        <img src="@(Model.AlbumCover?.Url)" width="@(Model.AlbumCover?.Width)" height="@(Model.AlbumCover.Height)" class="artist-details-image" alt="@(Model.AlbumCover.AltText)" />
 
    <p>Released @Model.ReleaseDate.Value.ToShortDateString()</p>
    <table id="artist-albums">
        <caption>Tracks</caption>
        <tr>
            <th>Track Name</th>
            <th>Track Length</th>
            <th>@Html.DisplayNameFor(a => a.Artist.Name)</th>
            <th>Can Play </th>
        </tr>
        @foreach (var track in Model.Tracks)
            {
            <tr>
                <td>@track.Name</td>
                <td>@track.LengthMinutes</td>
                @if (track.Artist != null)
                {
                    <td>@track.Artist.Name</td>
                }
                else if(Model.Artist != null)
                {
                    <td>@Model.Artist.Name</td>
                }else
                {
                    using (var db = new SongsAbout.Web.Models.EntityDbContext())
                    {
                        <td>@db.Artists.Find(track.ArtistId)</td>
                    }
                }
                <td>@Html.CheckBoxFor(a => track.CanPlay) </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
