@using SongsAbout.Web.Models;
@using SpotifyAPI.Web.Models;
@model SpotifyAPI.Web.Models.SpotifyFullArtist
@{

    SpotifyImage image =
        Model.Images.FirstOrDefault(a => a.Height == 160 || a.Height == 200)
        ?? Model.Images.OrderBy(i => i.Height).FirstOrDefault();
}

@switch ((SongsAbout.Web.Models.EntityDisplayType)ViewBag.EntityDisplayType)
{
    case SongsAbout.Web.Models.EntityDisplayType.Spotlight:
        <div class="artist-box square-image" id="@Model.Id">
            <div class="artist-image">@Html.DisplayImage(Model.Images[0], htmlAttributes: new { height = 160, width = 160 })</div>
            <div class="artist-name">@Html.DisplayFor(model => Model.Name)</div>
        </div>
        break;
    case SongsAbout.Web.Models.EntityDisplayType.SearchResult:
        <div class="col-md-3 artist-box square-image" id="@Model.Id">
            <div class="artist-image">@Html.DisplayImage(image)</div>
            <div class="artist-name">@Html.DisplayFor(model => Model.Name)</div>
        </div>
        break;
    case SongsAbout.Web.Models.EntityDisplayType.List:
        break;
    case SongsAbout.Web.Models.EntityDisplayType.Related:
        break;
    default:
        break;
}
