@model IEnumerable<SongsAbout.Web.Models.Track>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtistId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationMs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthMinutes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationMs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrackId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrackId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrackId })
        </td>
    </tr>
}

</table>
